@charset "UTF-8";
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Roboto');

/*------------ NAV ------------*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center; /*alignment of child elements within the current element in the direction of orientation.*/
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center; /*specifies alignment in the opposite direction from the direction of orientation*/
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100vw;
  max-width: 100vw;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  font-family: 'Roboto', sans-serif;
}
  @media screen and (max-width: 850px) {
    .nav {
      height: 5rem; 
    } 
  }

.nav_logo {
  width: 15rem;
  border-bottom: none;
  margin: 1rem 0 0 1.5rem; 
}
  @media screen and (max-width: 850px) {
    .nav_logo {
      width: 12rem; 
    } 
  }

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 3rem 0 0 0;
  list-style: none; 
}
  @media screen and (max-width: 850px) {
    .nav_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      position: fixed;
      left: 0;
      top: -100vh;
      width: 100vw;
      padding: 0;
      z-index: 1;
      list-style: none;
      background-color: inherit;
      height: 100vh;
      -webkit-transition: 0.3s all;
      transition: 0.3s all; 
    }
      .nav_list_expanded {
        top: -4rem;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; 
      } 
    }

.nav_item {
  color: #f4f0e6;  
  font-size: 1.9rem;
  display: block;
  padding: 1rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; 
}
  @media screen and (max-width: 767px) {
    .nav_item {
      width: 100vw;
      font-size: 2.2rem;
      text-align: center;
      z-index: 4;
      padding: 1rem 0 1rem 0;
      margin: 0 1rem; 
    } 
  }
  @media screen and (min-width: 768px) and (max-width: 950px) {
    .nav_item {
      margin: 0 1rem; 
    } 
  }
  @media screen and (min-width: 951px) and (max-width: 1200px) {
    .nav_item {
      margin: 0 2rem; 
    } 
  }

.nav_link.theme_link, .button.theme_link{
  color: #f4f0e6;  
}

.nav_link {
  text-decoration: none;
  z-index: 5; 
}
  @media screen and (min-width: 851px) {
    .nav_link {
      position: relative; 
    }
      .nav_link::before {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        right: 50%;
        -webkit-transform: tranlateX(50%);
        transform: tranlateX(50%);
        height: 2px;
        width: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; 
      }
      .nav_link::after {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        -webkit-transform: tranlateX(-50%);
        transform: tranlateX(-50%);
        height: 2px;
        width: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; 
      }
      .nav_link:hover::before, .nav_link:focus::before {
        width: 55%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; 
      }
      .nav_link:hover::after, .nav_link:focus::after {
        width: 55%;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; 
      } 
  }
  .nav_link_start {
    position: fixed;
    top: 1rem;
    left: 3rem;
    z-index: 5; 
  }
    @media screen and (max-width: 850px) {
      .nav_link_start {
        top: 0.5rem;
        left: 1rem; 
      } 
    }

.nav_link.theme_link::before{
  background-color: #cccccc;
}
.nav_link.theme_link::after{
  background-color: #cccccc;
}


/*------------ CONTAINER ------------*/
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: inherit;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity; 
  color: #cccccc;
}
  @media screen and (max-width: 800px) {
    .section {
      padding-top: 8rem; 
    } 
  }
  @media screen and (max-width: 800px) {
    .section_start {
      padding-top: 0; 
    } 
  }
  .section_about {
    padding-bottom: 5rem; 
  }
    @media screen and (max-width: 1366px) {
      .section_about {
        padding-top: 6rem; 
      } 
    }
  @media screen and (max-width: 800px) {
    .section_projects {
      margin-top: -2rem; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .section_projects {
      margin-top: -3rem; 
    } 
  }
  .section_contact {
    padding-bottom: 3rem; 
  }
    @media screen and (max-width: 1366px) {
      .section_contact {
        padding-top: 7rem; 
      } 
    }

.section_title {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
}
  @media screen and (max-width: 800px) {
    .section_title {
      width: 95%;
      font-size: 2.5rem;
      text-align: center;
      padding-top: 1rem; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .section_title {
      width: 90%;
      font-size: 3rem;
      text-align: center; 
    } 
  }
  .section_title_start {
    font-size: 6rem;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
  }
    @media screen and (max-width: 800px) {
      .section_title_start {
        font-size: 4rem;
        text-align: center; 
      } 
    }
  .section_title_projects {
    padding-top: 2rem; }
    @media screen and (min-width: 801px) and (max-width: 1280px) {
      .section_title_projects {
        padding-top: 5rem; 
      } 
    }
  .section_title_contact {
    margin-bottom: 0.5rem; 
  }
    @media screen and (min-width: 801px) and (max-width: 1366px) {
      .section_title_contact {
        margin: 0; 
      } 
    }

.section_subtitle {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0; 
}
  @media screen and (max-width: 800px) {
    .section_subtitle {
      width: 95%;
      font-size: 1.8rem;
      text-align: center;
      padding: 1rem; 
    } 
  }
  .section_subtitle_start {
    font-size: 3rem;
    margin-top: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }
    @media screen and (max-width: 800px) {
      .section_subtitle_start {
        font-size: 2rem; 
      } 
    }

.me{
  box-shadow: 0px 0px 2px #cccccc;
  margin-top: 10rem;
}

.section_description {
  font-size: 1.8rem;
  /* margin-bottom: 5rem; */
  width: 57%;
  text-align: center; 
}
  @media screen and (max-width: 800px) {
    .section_description {
      width: 90%;
      font-size: 1.4rem;
      padding: 1rem; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .section_description {
      font-size: 1.6rem; 
    } 
  }

/*------------ FOOTER ------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 5rem;
  z-index: 10; 
}
  @media screen and (max-width: 800px) {
    .footer {
      height: 3.5rem; 
    } 
  }

.foot_copyright {
  font-size: 1.2rem;
  margin-bottom: 2rem; 
}
  @media screen and (max-width: 800px) {
    .foot_copyright {
      margin-bottom: 2rem; 
    } 
  }

.foot_link {
  color: #f4f0e6;
  text-decoration: none;
  border-bottom: none; 
}

.foot_link:hover, .foot_link:focus {
  color: #cccccc;
}

  /*------------ FADE ANIMATION ------------*/
.fade-in-out {
  -webkit-animation: fade-in-out 4s;
  animation: fade-in-out 4s; 
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0; 
  }
  10% {
    opacity: 1; 
  }
  80% {
    opacity: 1; 
  }
  100% {
    opacity: 0; 
  } 
}

@keyframes fade-in-out {
  0% {
    opacity: 0; 
  }
  10% {
    opacity: 1; 
  }
  80% {
    opacity: 1; 
  }
  100% {
    opacity: 0; 
  } 
}

.fade-out {
  -webkit-animation: fade-out 2s;
  animation: fade-out 2s; 
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; 
  }
  100% {
    opacity: 0;
    display: none; 
  } 
}

@keyframes fade-out {
  0% {
    opacity: 1; 
  }
  100% {
    opacity: 0;
    display: none; 
  } 
}

.fade-in {
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s; 
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1; 
  } 
}

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in-short {
  -webkit-animation: fade-in 0.1s;
  animation: fade-in 0.1s; 
}

@-webkit-keyframes fade-in-short {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 1; 
  } 
}

@keyframes fade-in-short {
  0% {
    opacity: 0; 
  }
  50% {
    opacity: 1; 
  }
  100% {
    opacity: 1; 
  } 
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); 
  } 
}

@-webkit-keyframes overlay {
  0% {
    opacity: 1; 
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  } 
}

@keyframes overlay {
  0% {
    opacity: 1; 
  }
  70% {
    opacity: 1; 
  }
  100% {
    opacity: 0; 
  } 
}

@-webkit-keyframes overlay-text {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  80% {
    opacity: 0; } }

@keyframes overlay-text {
  0% {
    opacity: 1; }
  20% {
    opacity: 1; }
  80% {
    opacity: 0; } }

.fade-in-short {
  -webkit-animation: fade-in-short 1s;
  animation: fade-in-short 1s; }

@keyframes fade-in-short {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*------------ OVERLAY ------------*/
.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  opacity: 0;
  color: #f4f0e6;
  background-color: #192a56;   /*#1e3799 alternatively*/ 
  -webkit-animation: overlay 2.5s;
  animation: overlay 2.5s;
  overflow: hidden; 
}

.overlay_text {
  font-size: 5rem;
  opacity: 0;
  -webkit-animation: overlay-text 3s;
  animation: overlay-text 3s; 
}
  @media screen and (min-width: 600px) {
    .overlay__text {
      letter-spacing: 0.7rem; } 
    }
  @media screen and (max-width: 800px) {
    .overlay__text {
      font-size: 4rem; } 
    }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

/*------------ PAGE STYLING ------------*/
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100vw;
}
  @media screen and (max-width: 850px) {
    html {
      font-size: 9.5px; } 
    }
  @media screen and (min-width: 851px) and (max-width: 1366px) {
    html {
      font-size: 10px; } 
    }
  @media screen and (min-width: 1367px) {
    html {
      font-size: 11px; } 
    }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  position: relative; 
  /* overflow: hidden; */
  background-color: #192a56;
}

.overflow-on {
  overflow-x: hidden;
  overflow-y: hidden; 
}

.overflow-off {
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw; 
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0; }
  @media screen and (max-width: 800px) {
    .skills {
      margin-bottom: 4rem; 
    } 
  }

.skills_ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin: 0 2rem 0 2rem; }
  @media screen and (max-width: 800px) {
    .skills_ico {
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
      margin: 0 0.5rem 0 0.5rem; 
    } 
  }

@media screen and (max-width: 800px) {
  .skills_text {
    font-size: 1.4rem; 
  } 
}

.theme {
  color: #f4f0e6;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; 
}

.theme_link {
  -webkit-transition: all 0.7s;
  transition: all 0.7s; 
}

.theme_link:hover, .theme_link:focus {
  color: #cccccc;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; 
}

.visuallyhidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); 
}

.visuallyhidden_section {
  overflow: hidden;
  margin-top: -10000px;
  opacity: 0.01; 
}

.devicons{
  font-size: 4rem
}

/*------------ PORTFOLIO ------------*/
.projects {
  margin-top: 5rem;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 800px) {
    .projects {
      padding-top: 0rem;
      margin-top: 2rem;
      padding-bottom: 5rem; } }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .projects {
      padding-top: 3rem; } }
  @media screen and (min-width: 1367px) {
    .projects {
      padding-top: 0; } }

.projects_nav_info {
  top: 6rem;
  position: absolute;
  left: 0;
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 5%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .projects_nav_info_hidden {
    top: -10rem;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
  @media screen and (min-width: 801px) {
    .projects_nav_info {
      display: none; } }

.projects_prev, .projects_next {
  color: #f4f0e6;
  cursor: pointer;
  position: absolute;
  top: 45%;
  z-index: 10;
  font-size: 3rem;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  margin: 0.5rem;
  background: none;
  border: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; 
}
  @media screen and (max-width: 800px) {
    .projects_prev, .projects_next {
      display: none; 
    } 
  }
  .projects_prev_disabled, .projects_next_disabled {
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    cursor: not-allowed;
    opacity: 0.5; 
  }

.projects_prev {
  left: 20%; 
}

.projects_next {
  color: #f4f0e6;
  right: 20%; 
}

.projects_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  padding: 0 2rem 1rem 2rem;
  z-index: 0;
  width: 100; 
}

.projects_photo {
  width: 40%; 
}
  @media screen and (max-width: 850px) {
    .projects_photo {
      margin-top: 2rem;
      width: 80%; 
    } 
  }
  @media screen and (min-width: 851px) and (max-width: 1366px) {
    .projects_photo {
      width: 35%; 
    } 
  }

.projects_title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin: 0; 
}
  @media screen and (max-width: 800px) {
    .projects_title {
      margin-top: 2.5rem; 
    } 
  }

.projects_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0.5rem; 
}
  @media screen and (max-width: 800px) {
    .projects_tags {
      display: none; 
    } 
  }

.projects_tag_skill {
  background-color: #f4f0e6;
  color: #333;
  display: block;
  padding: 0rem 1rem;
  margin: 0.5rem 0.7rem;
  border-radius: 1.5rem;
  font-size: 1.4rem; 
}
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .projects_tag {
      margin: 0.5rem 0.5rem; 
    } 
  }

.projects_description {
  text-align: center;
  width: 70%;
  font-size: 1.6rem; }
  @media screen and (max-width: 800px) {
    .projects_description {
      width: 95%;
      font-size: 1.4rem; } }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .projects_description {
      width: 80%;
      font-size: 1.4rem;
      margin: 0.5rem 0; } }

.projects_link {
  color: #f4f0e6;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-bottom: none;
  margin: 2rem 0 0 0; }
  .projects_link_code {
    margin: 0; }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .projects_link {
      margin: 1rem 0 0 0; } }

.projects_link:hover, .projects_link:focus {
  color: #666;
  text-decoration: underline;
  border-bottom: none; }

/*------------ CONTACT & FORM------------*/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 70%; 
}
  @media screen and (max-width: 800px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    .contact {
      width: 90%; 
    } 
  }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
  width: 35%; 
}
  @media screen and (max-width: 800px) {
    .form {
      width: 90%; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .form {
      width: 40%; 
    } 
  }

.form_input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  border: none;
  text-indent: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0.5rem;
  border-radius: 1.5rem;
  line-height: normal; }
  .form_input_invalidated {
    background-color: rgba(207, 101, 97, 0.3) !important; 
  }

.form_input:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; 
}

.input_fail {
  font-size: 1.2rem;
  color: #bd5855;
  margin: 0; 
}

.form_textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  width: 100%;
  height: 10rem;
  border: none;
  resize: none;
  text-indent: 1rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-indent: 1rem;
  line-height: normal; 
}

.form_textarea:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s; 
}

.form_button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 2rem auto 1rem auto;
  width: 10rem;
  height: 3rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1.5rem; 
}
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .form_button {
      margin: 1rem auto 1rem auto; 
    } 
  }

.form_group {
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .form_group {
      font-size: 1.4rem; 
    } 
  }

.form_success, .form_fail {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  height: 20%;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  box-shadow: 0px 0px 15px 5px rgba(51, 51, 51, 0.3);
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; 
}
  .form_success p, .form_fail p {
    font-size: 2rem;
    margin: 1rem;
    color: #ffffff;
    text-align: center; 
  }
  @media screen and (max-width: 600px) {
    .form_success, .form_fail {
      width: 90%;
      text-align: center; 
    } 
  }

.form_success {
  background-color: #279b3a; 
}

.form_fail {
  background-color: #c9201a; 
}

.form_optional {
  opacity: 0.54;
  font-size: 1.4rem; 
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 40%;
  padding: 2rem 5rem 5rem 0rem;
  list-style: none; }
  @media screen and (max-width: 800px) {
    .socials {
      width: 100%;
      padding: 0; 
    } 
  }
  @media screen and (min-width: 801px) and (max-width: 1366px) {
    .socials {
      padding: 2rem 0rem 5rem 2rem; 
    } 
  }

.socials_list_item {
  width: 100%; 
}

.socials_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 80%;
  margin: 0 0 0 20%;
  text-decoration: none;
  color: #cccccc;
  text-align: center;
  border-bottom: none; 
}
  @media screen and (max-width: 850px) {
    .socials_item {
      margin: 0 5% 0 5%; 
    } 
  }
  .socials_item p {
    margin-left: 2rem; 
  }
    @media screen and (max-width: 850px) {
      .socials_item p {
        margin-left: 1rem; 
      } 
    }

.socials_item:hover, .socials_item:focus {
  color: #666;
  border-bottom: none; 
}

.icon {
  font-size: 4rem; 
}
  @media screen and (max-width: 800px) {
    .icon {
      font-size: 4rem; 
    } 
  }
