/* sizes everything from withing a box. breaks code if deleted */
*{
  box-sizing: border-box;
}

body{
  background: url("../images/dust_back.png") repeat;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  overflow: auto;
  color: #777;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: bold;
}

header{
  background: white;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 30px;
}

/* Without commas you can select specific tags INSIDE another tag */
header h1{
  background: #4aaaa5;
  color: white;
  display: inline-block;
  padding: 30px;
  font-size: 30px;
}

nav{
  width: 270px;
  float: right;
  margin-top: 35px;
  text-align: center;

}

nav ul li{
  display: inline;
}

nav a{
  color: #777777;
  font-size: 17px;
  padding: 0 15px;
  border-right: 1px solid #ccc;
  text-decoration: none;
}

/* Gets rid of the right hand border of contact link */
nav ul li:last-child a{
  border-right: none;
}

.content{
  width: 960px;
  margin: 0 auto;
}

p{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

form label{
  font-size: 18px;
  display: block;
}

form input, form textarea{
  width: 100%;
  display: block;
  margin: 5px 0 20px 0;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

textarea{
  height: 300px;
}

form button{
  background: #4aaaa5;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  width: 125px;
}

.portItem{
  position: relative;
  margin-bottom: 20px;
  width: 45%;
  float: left;
  height: 250px;
}

.portItem:nth-of-type(even){
  float: right;
}

.portItem h3{
  position: absolute;
  background: #4aaaa5;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  bottom: 15px;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

#folio1{
  background: url("../images/portfolio1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#folio2{
  background: url("../images/portfolio2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#folio3{
  background: url("../images/portfolio3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#folio4{
  background: url("../images/portfolio4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#folio5{
  background: url("../images/portfolio5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#left, #right{
  background: #ffffff;
  padding: 25px;
  border: 1.5px solid #dddddd;
}

#left{
  width: 650px;
  float: left;
  min-height: calc(100vh - 20px);
}

#left h2{
  font-size: 24px;
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #dddddd;
}

.inline{
  float: left;
  margin: 0 15px 15px 0;
}

#right{
  width:270px;
  float: right;
}

#right h2{
  font-size: 20px;
  padding: 15px 0;
  margin-bottom: 20px;
  border-bottom: 1.5px solid #dddddd;
}

#right ul{
  text-align: center;
}

/* makes the images flow next to each other */
#right ul li{
  display: inline-block;
}

/* when a height isnt set its set proportionally to the width */
#right ul li img{
  width: 60px;
  margin-right: 9px;
}

footer{
  background: #666;
  border-top: 5px solid #4aaaa5;
  color: #ccc;
  text-align: center;
  padding: 40px;
  margin-top: 30px;
  height: 20px;
}